//?--------------------HOME PAGE----------------------------------
  .Home {
  text-align: center;
  min-height: 93vh;
  background-color: var(--main-bg-color);
  h1 {
    padding-top: 100px;
    font-size: 10vw;
    font-weight: bold;
    font-family: "Playfair Display", serif;
  }
  h2 {
    font-size: 4vw;
    font-weight: 200;
    font-family: "Playfair Display", serif;
  }
  }
