@import '~bulma/bulma.sass';

//? VARS
:root {
  --main-bg-color: rgba(198, 187, 200, 0.548);
  --main-bg-rgb: 198, 187, 200;
  --navbar-color: 255, 255, 255;
  --navbar-hover-color: grey;
}

//? LIBRARY

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


//?Global Styling 
* {
  margin: 0;
  padding: 0;
  // font-family: 'Hind Siliguri', sans-serif;
  font-family: 'Poppins', sans-serif;

}
.body {
  padding: 0;
  width: 100vw;
  height: 100vh;
}


//? ALL PAGES - navbar, main, footer


.Main {
  display: flex;
  background-color: var(--main-bg-color);
  min-height: 80vh;
  min-width: 100vh;
  }

 
.Navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: var(--navbar-color);

  .Navbar-item {
    color: inherit;
    margin: -100px 1%;
    font-size: 30px;
    font-weight: 500;
  }
  .navbar-item {
   margin: 0;
   background-color:var(--navbar-color);
  }
  .navbar-item:hover,
  .navbar-burger:hover {
    background-color: var(--navbar-color);
    color: var(--navbar-hover-color);
  }
}

.Footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  // background-color: rgb(198, 187, 200);
}

.box {
  width: 40%;
  background-color: rgba(var(--navbar-color), 0.1);
  .field {
    padding: 10px;

  }
}


//? PIN-MAP

.map-page {
  display: flex;
  align-items: center;
  max-width: 60vw;
  max-height: 800px;
  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    overflow: hidden;
    margin: 50px 20px 0 0;
    border-radius: 10px; 
    .map-map {
      #mapboxgl-control-continer {
        position: fixed;
        bottom: 100px;
      }
      
    }

  }
  .map-pins {
    width: 300px;
    .pincard {
      text-align: center;
      background-color: white;
      margin: 30px;
      padding: 10px;
      box-shadow: 0 10px 20px #777;   
      border-radius: 10px; 
    }
  }
}


.marker {
  background-color: red;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}



//? HOME
//* title

.Home {
  h1 {
    color: black;
    font-weight: bold;
    font-size: 50px;
    }
  
    //* subtitle
    h2 {
    color: grey;
    }
}


// ?------------------------------- Clothing Pages --------------------------------------------------------
// ? SLIDE IMAGE - SHOW PAGE 
.slide-container {
  width: 70%;
  margin: auto; }
h3 {
  text-align: center; }
.each-slide div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 150px;
}
// ? FILTERS ON CLOTHES INDEX
.filter {
  margin-left: 0;
}





//? ------------------------------- User Pages --------------------------------------------------------
//? USER PROFILE PAGE 
div.is-profile-info {
  border: 1px solid black;
}
      div.profile-img {
        position: relative;
        width: 50%;
       img {
         width: 100%;
         height: auto;
       }
       button.is-profile-btn {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background-color: #555;
          color: white;
          font-size: 8px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
       }
      }
div.is-user-clothes {
  border: 1px solid black;
}
div.is-user-chat{
  border: 1px solid black;
}


// .sidebar {
//   width:30%;
//   height: 100%;
//   top: 200px;
//   left: 0;
//   overflow: hidden;
//   border-right: 1px solid rgab(0, 0, 0, 0.25)
// }


//? ------------------------------- Bulma Variables ------------------------------------------------------
// $modal-content-width: 500px;
