//? VARS
:root {
  --main-bg-color: rgba(var(--main-bg-rgb), 0.8);
  --main-bg-rgb: 190, 183, 192;
  --navbar-color: rgba(255, 255, 255, 1);
  --navbar-color-rgb: 255, 255, 255;
  --navbar-hover-color: grey;
  --title-color: white;
  --subtite-color: grey;
  --main-start-point: 20vw;
  --page-head-position: 10vw;
  --btn-color: lightgrey;
  --cards-text-color: rgb(86, 80, 87);
  --section-titles-profile-size: 3vw;
  --delete-btn-color: rgb(143, 29, 29);
}

//? LIBRARY

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row-center {
  display: flex;
  justify-content: center;
}

//?Global Styling
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--main-bg-color);
  
}

.body {
  padding: 0;
  background-size: cover;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.Button {
  width: 20vw;
  padding: 1vw;
  text-align: center;
  font-size: 2vw;
  font-family: inherit;
  font-weight: 200;
  background: rgb(48, 47, 47);
  border-radius: 10px;
  margin: 0;
  color: white;
}
//? ALL PAGES - navbar, main, footer

.Page-head {
  position: absolute;
  text-align: center;
  top: var(--page-head-position);
  width: 60vw;
  .Page-title {
    color: var(--title-color);
    font-size: 4vw;
  }
  .Page-subtitle {
    color: var(--subtite-color);
    font-size: 15px;
  }
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  min-width: 100vw;
  a:hover {
    color: white;
    text-shadow: 1px 1px 5px rgb(183, 174, 185);
    top: 7vw;
  }
}

.Navbar {
  position: fixed;
  top: 0;
  height: 7vw;
  display: flex;
  align-items: center;
  background-color: rgba(var(--navbar-color-rgb), 0.3);

  .Navbar-item {
    color: inherit;
    margin: -7vw 1%;
    font-size: 1.7vw;
    font-weight: 500;
  }
  .navbar-item {
    margin: 0;
    background-color: rgba(var(--navbar-color-rgb), 0.3);
  }
  .navbar-item:hover,
  .navbar-burger:hover {
    background-color: var(--navbar-color);
    color: var(--navbar-hover-color);
  }
}

.Footer {
  height: 2vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--navbar-color);
}

.box {
  width: 40%;
  background-color: rgba(var(--navbar-color-rgb), 0.1);
  .field {
    padding: 10px;
  }
}

//? HOME
.Home {
  h1 {
    font-size: 40px;
    font-weight: bold;
  }
  h2 {
    font-size: 30px;
    font-weight: 200;
  }
}

//? ABOUT

.About {
  .About-row {
    display: flex;
    align-items: center;
    justify-content: center;
    .Our-mission {
      width: 30%;
    }
    .How-it-works {
      width: 30%;
    }
  }
  .Title {
    font-size: 15px;
    margin: 20px;
  }
  .Subtitle {
    font-size: 10px;
  }
}

//? LATEST

.Latest {
  position: absolute;
  top: var(--main-start-point);
}

.Clothes-filter {
  margin: 1vw;
  display: flex;
  align-items: flex-start;
  width: 90vw;
  .input {
    margin: 1vw;
  }
  .Clothes-select {
    margin: 10px;
    width: 150px;
  }
}

.Clothes-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  width: 90vw;
  max-height: 60vw;
}

.Clothes-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 5px;
  width: 150px;
  height: 150px;
  .img img {
    margin: 0;
    max-height: 150px;
    max-width: auto;
    object-fit: cover;
    z-index: 0;
    box-sizing: content-box;
  }
  .Card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60px;
    width: 100%;
    position: relative;
    bottom: 60px;
    z-index: 1;
    background-color: rgba(var(--navbar-color-rgb), 0.5);
    color: var(--cards-text-color);
    .Title {
      font-size: 11px;
      font-weight: 600;
      margin-top: 5px;
    }
    .Subtitle {
      font-size: 10px;
    }
  }
}

//? POSTS

.Posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .Post-form {
    display: column;
    justify-content: right;
    align-items: center;
    padding: 60px 30px;
  }
  position: absolute;
  top: var(--main-start-point);
  .Post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    margin-left: 3vw;
    padding-bottom: 0;

    .Post-input-title {
      width: 25vw;
      height: 3vw;
      margin: 1vw 0;
    }
    .Post-input-text {
      width: 25vw;
      height: 25vw;
      border: none;
      margin-bottom: 1vw;
    }
    .Post-input-image {
      width: 25vw;
    }
    .Button {
      margin: 1vw;
      width: 12vw;
      font-size: 1vw;
    }
  }
  .Post-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: scroll;
    max-height: 50vw;
    max-width: 70vw;
    .Post-bottom {
      display: flex;
    }
  }
  .Card {
    background-color: rgba(var(--navbar-color-rgb), 0.3);
    margin: 1vw;
    padding: 2vw;
    width: 80%;
    .Title {
      color: rgb(252, 249, 249);
      text-shadow: 1px 1px 2px rgb(175, 170, 170);
    }
    .Post-image {
      width: 35%;
      margin-right: 10px;
      img {
      }
    }
    .Text {
      width: 65%;
      .Post-content {
        font-size: 9px;
        font-weight: 200;
        color: black;
        max-height: 100px;
        overflow: hidden;
      }
      .Post-author {
        font-size: 10px;
        color: white;
      }
    }
  }
}

//? PIN-MAP

.Map-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .Button {
    width: 17vw;
    max-width: 120px;
    height: 4vw;
    max-height: 30px;
    padding: 0;
    font-size: 1.5vw;
  }
}
.Map {
  .MapGL {
    position: relative;
    top: 17vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid white;
    width: 100%;
    height: 100%;
  }
  .pincard p {
    font-size: 1.5vw;
    font-weight: 200;
    small {
      font-size: 1vw;
    }
  }
  .map-pins {
    width: 300px;
  }
}

.marker {
  background-color: red;
  height: 12px;
  width: 12px;
  border-radius: 100%;
}

//? SHOW USERS PROFILE

.Show-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Show-profile-top {
  display: flex;
  align-items: center;
}

.Photo-user-rating {
  img {
    max-width: 12vw;
    max-height: 12vw;
    border-radius: 90px;
    margin: 2vw 2vw 0 0;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Follow-message {
  display: flex;
  align-items: center;
}

.Comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vw;
}
.Comments {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  .Button {
    width: 7vw;
    height: 2vw;
    font-size: 1vw;
    padding: 0;
    background-color: var(--delete-btn-color);
  }

  .Comment {
    max-width: 30vw;
    word-wrap: break-word;
  }

  .Comment-left {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.5vw;
      text-align: center;
    }
    .Comment-text {
      border-radius: 5px;
      border: none;
      margin: 1vw;
      width: 15vw;
    }
  }

  .Comments-on-user {
    display: flex;
    flex-direction: column;
    margin-top: 2vw;
    // background-color: red;
    overflow: scroll;
    max-height: 25vw;
    width: 100%;
  }
}

.Show-profile-bottom {
  display: flex;
  justify-content: center;

  .User-items-index {
    display: flex;
    margin-top: 2vw;
    overflow: scroll;
    max-height: 40vw;
    max-width: 78vw;

    .Card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px 5px;
      width: 25vw;
      max-height: 25vw;
      .img img {
        margin: 0;
        max-height: 25vw;
        max-width: auto;
        object-fit: cover;
        z-index: 0;
        box-sizing: content-box;
      }
      .Card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 60px;
        width: 100%;
        position: relative;
        bottom: 60px;
        z-index: 1;
        background-color: rgba(var(--navbar-color-rgb), 0.5);
        color: var(--cards-text-color);
        .Title {
          font-size: 11px;
          font-weight: 600;
          margin-top: 5px;
        }
        .Subtitle {
          font-size: 10px;
        }
      }
    }
  }
}

//? USER PROFILE - MY PROFILE PAGE

.My-profile {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.My-profile-top-row {
  display: flex;
  align-items: center;

  .Photo-delete-rating {
    .Modal {
      display: none;
      z-index: 99;
      width: 60vw;
      height: 40vw;
      position: fixed;
      top: 23vh;
      left: 30vw;
      background-color: rgba(var(--navbar-color-rgb), 0.9);
      border-radius: 20px;
      .Modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        height: 40vw;
      }
      .Modal-close {
        position: absolute;
        right: 2vw;
        top: 2vw;
        width: 6vw;
        height: 3vw;
        background-color: var(--main-bg-color);
        border-radius: 5px;
        font-size: 1.4vw;
      }
    }
    .Modal-inactive {
      display: block;
    }

    .profile-img {
      img {
        width: 20vw;
        height: auto;
        border-radius: 70px;
      }
    }

    .is-profile-btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(var(--navbar-color-rgb), 0.3);
      color: white;
      font-size: 1.2vw;
      border: none;
      cursor: pointer;
      border-radius: 5px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 2vw;
    padding: 1vw;
    .Edit-delete {
      display: flex;
      justify-content: center;
      .My-profile-update-btn,
      .My-profile-delete-btn {
        text-align: center;
        font-size: 1.3vw;
        font-family: inherit;
        font-weight: 200;
        padding: 0.5vw 0.7vw;
        background-color: rgba(66, 48, 48, 0.327);
        border-radius: 10px;
        margin: 0.7vw;
        color: white;
      }
      .My-profile-update-btn {
        background-color: rgb(87, 170, 87);
      }
      .My-profile-delete-btn {
        background-color: rgb(168, 86, 100);
      }
    }
    .My-profile-rating {
      font-size: 1.5vw;
      margin-top: 1vw;
    }
  }

  .Welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;

    .My-profile-favs {
      margin-top: 5vw;
      display: flex;
      justify-content: space-evenly;
      .Favs-btn {
        width: 20vw;
        padding: 1vw;
        text-align: center;
        font-size: 2vw;
        font-family: inherit;
        font-weight: 200;
        background-color: rgba(66, 48, 48, 0.327);
        border-radius: 10px;
        margin: 1vw;
        color: white;
      }
    }
  }
}

.My-profile-columns {
  display: flex;
  .Left-col {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
  }
  .Center-col {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
}

.My-profile-message-board {
  height: 100vh;
  padding-top: 3vw;
  margin-left: 2vw;

  h3 {
    font-weight: 600;
    font-size: var(--section-titles-profile-size);
  }
}

.My-profile-message-board {
  display: flex;
  flex-direction: column;
  margin-top: 2vw;
  // background-color: red;
  overflow: scroll;
  max-height: 50vw;
  width: 100%;
}

.Message {
  display: flex;
  flex-direction: column;
  margin: 2vw;
  padding: 1.8vw;
  background-color: rgba(var(--navbar-color-rgb), 0.3);
  width: 90%;

  img {
    max-width: 5vw;
    max-height: 5vw;
    border-radius: 50px;
  }

  .Message-top {
    display: flex;
    justify-content: left;
    height: 15%;
    .Message-top-right {
      display: flex;
      flex-direction: column;
      align-items: left;
      margin-left: 2vw;
      h4 {
        font-size: 2vw;
      }
      h5 {
        font-size: 1vw;
        font-weight: 200;
      }
    }
  }
  .Message-text,
  .Message-reply {
    margin-top: 2vw;
    h5 {
      text-align: center;
      font-size: 1vw;
      font-weight: 200;
    }
    p {
      font-size: 1.4vw;
    }
  }

  .Message-from-date {
    display: flex;
    flex-direction: column;
    p {
      font-size: 1.2vw;
    }
    h4 {
      font-size: 1vw;
    }
  }

  .Message-content {
    height: 55%;
    text-align: center;
    font-weight: normal;
    font-size: 1.3vw;
  }

  .Message-reply-delete {
    height: 15%;
    display: flex;
    justify-content: center;
    .Reply-btn {
      width: 3vw;
      background-color: red;
    }
  }
}

.My-items {
  padding: 3vw;
}

.My-items-top {
  display: flex;
  justify-content: space-between;
  margin: 0 3vw;
  h3 {
    font-weight: 600;
    font-size: 20px;
  }
  .Add-clothes-btn {
    padding: 10px;
    text-align: center;
    font-size: 10px;
    font-family: inherit;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.605);
    border-radius: 10px;
    border: none;
    margin: 5px;
    color: black;
  }
}
.My-items-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .My-items-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 5px;
    width: 150px;
    height: 150px;
    .img img {
      margin: 0;
      max-height: 150px;
      max-width: auto;
      object-fit: cover;
      z-index: 0;
      box-sizing: content-box;
    }
    .Card-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 60px;
      width: 100%;
      position: relative;
      bottom: 60px;
      z-index: 1;
      background-color: rgba(var(--navbar-color-rgb), 0.5);
      color: var(--cards-text-color);
      .Title {
        font-size: 11px;
        font-weight: 600;
        margin-top: 5px;
      }
      .Subtitle {
        font-size: 10px;
      }
    }
  }
}

//? Comments from users

.My-comments {
  padding: 3vw;
  h3 {
    font-weight: 600;
    font-size: 20px;
  }
}

.Comments-users {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Comment {
  margin: 3vw;
  .Comments-user.Delete {
    display: none;
  }
}

.Comment-top {
  display: flex;
  justify-content: left;
  margin-bottom: 2vw;
  img {
    max-width: 5vw;
    max-height: 5vw;
    border-radius: 50px;
  }
  .Comment-top-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 2vw;
    h4 {
      font-size: 2vw;
    }
    h5 {
      font-size: 1vw;
      font-weight: 200;
    }
  }
}
.Comment-text {
  margin-top: 2vw;
  h5 {
    text-align: center;
    font-size: 1vw;
    font-weight: 200;
  }
  p {
    font-size: 1.4vw;
  }
}

// ?------------------------------- Clothing Pages --------------------------------------------------------
// ? SLIDE IMAGE - SHOW PAGE
.slide-container {
  width: 75%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.Is-active {
  display: block;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .Main {
    padding: 0;
  }

  //POSTS
  .Posts {
    flex-direction: column;
    input {
      width: 280px;
    }
    .Card {
      width: 100%;
    }
  }
  
}

@import "~bulma/bulma.sass";
